.our-mission {
  padding: 75px 0;
}
.our-mission .item {
  height: 100%;
  min-height: 444px;
  padding: 80px 30px 30px;
  color: #fff;
  text-align: center;
  border: 1px solid #f0f0f0;
  position: relative;
  overflow: hidden;
}
.our-mission .item::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  mix-blend-mode: soft-light;
}
.our-mission .item i {
  display: inline-block;
  margin: auto;
  margin-bottom: 28px;
  width: 78px;
}
.our-mission .item i img {
  display: block;
  max-width: 100%;
}

.our-mission .item>* {
  position: relative;
}
.our-mission .item .title {
  font-size: 25px;
  font-weight: 700;
  margin-bottom: 25px;
}
.vision {
  background: #9cdd8c;
  background: -moz-linear-gradient(top,#9cdd8c 0%,#000000 100%);
  background: -webkit-linear-gradient(top,#9cdd8c 0%,#000000 100%);
  background: linear-gradient(to bottom,#9cdd8c 0%,#000000 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#9cdd8c',endColorstr='#000000',GradientType=0 );
}
.vision::before {
  background: url(../images/services/pexels-photo-167676.jpeg) no-repeat center top;
  background-size: cover;
}
.global-item:hover .image>img, .c-register:hover .image img, .c-reviews:hover .image img, .our-mission .item:hover:before, .other-products .item:hover .image img {
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -ms-transform: scale(1.1);
  -o-transform: scale(1.1);
  transform: scale(1.1);
}
a, button, .btn, .dropdown-menu, .swiper-button-prev, .swiper-button-next, .carousel-control-next, .carousel-control-prev, .site-header .navbar-collapse, .slidenav-item .thumbnail, .slidenav-item .thumbnail::before, .slidenav-item .thumbnail::after, .slidenav-item .info>div, .slidenav-item .info i, .slidenav-item .info .title, .slidenav-item .info span, .global-item .image>img, .services .global-item .details>div, .services .global-item .details>div>div, .other-services .item .image::before, .other-services .item .image::after, .more, .c-register .image img, .c-reviews .image img, .certified-members .item, .posts li .title, .c-btn::before, .our-mission .item::before, .single-details .pagination .page-link i, .recent-posts li, .other-products .item .image img, .wizard>.steps>ul>li:not(:last-child)::after, .add-file .add {
  -webkit-transition: all .5s ease-in-out;
  -moz-transition: all .5s ease-in-out;
  -ms-transition: all .5s ease-in-out;
  -o-transition: all .5s ease-in-out;
  transition: all .5s ease-in-out;
}
.slidenav-item .thumbnail, .slideshow .gallery-top .details a, .other-services .image, .other-services .image img, .other-services .item .image::before, .other-services .item .image::after, .other-services .details, .c-register, .c-reviews, .logistic-info .item .image, .certified-members .item, .site-footer .top-content .barcode, .contact-info .item, .map-location iframe, .c-form .form-control, .about-details .main-content, .our-mission .item, .networks .wrapper, .networks a, .main-aside .sidebar, .main-aside .req-call, .form-wrapper, .posts li .image, .main-aside .download, .single-details .thumbnails>div, .single-details .content img, .single-details .pagination .page-link, .accordion-item, .product-wrapper, .product-wrapper .image, .other-products .item, .other-products .item .image, .form-steps, .wizard>.actions a, .wizard>.actions a:hover, .wizard>.actions a:active, .add-file>label, .add-file .add, .add-file>label>div, .wizard .previous a {
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
}
.mission::before {
  background: url(../images/services/pexels-photo-3840441.jpeg) no-repeat center top;
  background-size: cover;
}
.mission {
  background: #eac95b;
  background: -moz-linear-gradient(top,#eac95b 0%,#000000 100%);
  background: -webkit-linear-gradient(top,#eac95b 0%,#000000 100%);
  background: linear-gradient(to bottom,#eac95b 0%,#000000 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#eac95b',endColorstr='#000000',GradientType=0 );
}
.quality::before {
  background: url(../images/services/pexels-photo-167676.jpeg) no-repeat center top;
  background-size: cover;
}
.quality {
  background: #f25b5f;
  background: -moz-linear-gradient(top,#f25b5f 0%,#000000 100%);
  background: -webkit-linear-gradient(top,#f25b5f 0%,#000000 100%);
  background: linear-gradient(to bottom,#f25b5f 0%,#000000 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f25b5f',endColorstr='#000000',GradientType=0 );
}

.contact-info{
  margin: 100px 0px;
}
.contact-info .item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  min-height: 306px;
  text-align: center;
  background: #fff;
  border: 1px solid #e2e2e2;
  padding: 25px;
}

.contact-info .item .icon {
  display: inline-block;
  width: 39px;
  height: 39px;
  margin-bottom: 10px;
}
.contact-info .item .title {
  font-size: 20px;
  color: #1352a3;
  margin-bottom: 15px;
}
.s-heading p, .global-item .details .title, .get-quote .quote .details .title, .other-services .details .title, .site-footer .top-content .title, .site-footer .heading, .contact-info .item .title, .networks .heading, .main-aside .sidebar .heading, .main-aside .heading, .main-aside .req-call, .product-wrapper .title, .product-wrapper .social-share .heading, .product-wrapper .status, .other-products .item .title, .wizard>.steps a>span:last-child, .wizard>.actions a, .wizard>.actions a:hover, .wizard>.actions a:active, .wizard>.content>.body label.label, .xdsoft_datetimepicker .xdsoft_month, .xdsoft_datetimepicker .xdsoft_year, .xdsoft_datetimepicker .xdsoft_calendar th, .c-msg p {
  font-weight: 700;
}


@media (max-width: 1399px){
.our-mission .item p {
    font-size: 15px;
}
.about-details .details p, .our-mission .item p {
  width: 100%;
}
.contact-info .item {
  min-height: 270px;
}
}
